nav {
    padding-left: 15pt;
    padding-right: 15pt;
}

content{
    margin-top: 15pt;
}

.header{
    font-weight: 300;
}

.field-title {
    font-weight: 500;
}

.field-value {
    font-weight: 300;
}